fastapi
uvicorn[standard]
python-multipart


supabase
psycopg2-binary
pydantic-settings


langchain
langchain-community
langchain-groq          
langchain-google-genai  
sentence-transformers   


langfuse


python-dotenv
pyjwt
requests